h7,.h7 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 1.1;
	color: inherit;
}

h7 small,.h7 small {
	color: #e7e9ec;
}

h7 {
	margin-top: 2px;
	margin-bottom: 2px;
}

h7,.h7 {
	font-size: 16px;
}

.label {
	display: block;
	padding: 0.3em 2em 0em;
	font-size: 100%;
	font-weight: bold;
	line-height: 1;
	text-align: right;
	color: #2C3E50;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

p {
	font-size: 16px;
	line-height: 1.72222;
	margin: 0 0 0px;
}

.label:empty {
	display: block;
}

span.hit {
	background-color: #f1c40f;
}

.navbar-nav {
	float: right;
}