<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>EISearch</title>
<meta http-equiv="keywords" content="EI检索,EI号查询,免费EI检索">
<meta http-equiv="description" content="免费EI号检索">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{% static 'images/EVlogo.png'%}">
</head>
<body>
	<iframe src="http://222.27.253.41:9090" style="position:absolute;left:0;top:0;height:100%;width:100%;border:0px;overflow:auto;"></iframe>
</body>
</html>